name: Deploy to GitHub Packages
on: push

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: '16'
          distribution: temurin
      - name: Deploy
        run: ./gradlew deployToGithubPackages
        env:
          GITHUB_PACKAGES_USERNAME: {{ github.actor }}
          GITHUB_PACKAGES_PASSWORD: {{ secrets.GITHUB_TOKEN }}
