name: Deploy to Sonatype OSSRH
on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: temurin
        # Cache omitted on purpose: we want a _clean_ build.
      - name: Test
        run: ./gradlew test --no-daemon

  deploy:
    # We don't want to attempt deployment before we know tests pass.
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: temurin
      - name: Deploy to OSSRH
        run: ./gradlew publish --no-daemon
        env:
          ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.SONATYPE_USERNAME }}
          ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.SONATYPE_PASSWORD }}
      - name: Deploy to Central
        if: ${{ github.ref_type == 'tag' }}
        run: ./gradlew closeAndReleaseSonatypeStagingRepository --no-daemon
        env:
          ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.SONATYPE_USERNAME }}
          ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.SONATYPE_PASSWORD }}
